<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Lista de Empleados</title>
</head>
<body>
    <div class="container">
        <h1>Lista de Empleados</h1>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{/laboratorio3/nuevo_empleado}">Nuevo empleado</a>                 <!-- COMPLETAR -->
        <form class="input-group mb-lg-3" method="post" th:action="@{}">                <!-- COMPLETAR -->
            <!-- COMPLETAR -->
            <div class="input-group-append">
                <!-- COMPLETAR -->
            </div>
        </form>

        <!-- COMPLETAR -->
        <!-- COMPLETAR -->
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Puesto</th>
                <th>Departamento</th>
                <th>Ciudad</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee, info : ${employeesList}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="${employee.getFirstName()}"></td>
                <td th:text="${employee.getLastName()}"></td>
                <td th:text="${employee.getJob().getJobTitle()}"></td>
                <td th:text="${employee.getDepartment().getDepartmentName()}"></td>
                <td th:text="${employee.getDepartment().getLocation().getCity()}"></td>
                <td><a class="btn btn-primary"
                       th:href="@{'/Laboratorio3/edit_employee?id=' + ${product.id}}">Editar</a>
                </td>
                <td><a class="btn btn-danger"
                       th:href="@{'/Laboratorio3/delete_employee?id=' + ${product.id}}">Borrar</a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>